img.homeIcon {
    cursor: pointer;
}

p.headerName {
    margin: 0px;
    margin-left: 3px;
    float: left;
}

p.headerText {
    margin:  0px;
    margin-left: 8px;
    float: left;
}

p.headerText:hover {
    text-decoration: underline;
}

a {
    margin: 0px;
}

p.loginButton {
    margin:  0px;
    float: right;
    margin-right: 10px;
    text-decoration: none;
}

p.loginButton:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 751px) {
    .App {
        margin-left: 7%;
        margin-right: 8%;
    }
}

.headerBar {
    background-color: rgb(153, 236, 0);
    display: flex;
    justify-content: space-between;
}

.innerHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lastHeader {
    display: flex;
    flex-direction: row;
    float: right;
    align-items: center;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}
